.dark .highlight pre .hll,
.dark pre.code {
  background-color: #404040
}

.dark .highlight pre,
.dark pre.code {
  background: #202020;
  color: #d0d0d0
}

.dark .highlight pre .c,
.dark pre.code .c {
  color: #999;
  font-style: italic
}

.dark .highlight pre .err,
.dark pre.code .err {
  color: #a61717;
  background-color: #e3d2d2
}

.dark .highlight pre .esc,
.dark pre.code .esc {
  color: #d0d0d0
}

.dark .highlight pre .g,
.dark pre.code .g {
  color: #d0d0d0
}

.dark .highlight pre .k,
.dark pre.code .k {
  color: #6ab825;
  font-weight: 700
}

.dark .highlight pre .l,
.dark pre.code .l {
  color: #d0d0d0
}

.dark .highlight pre .n,
.dark pre.code .n {
  color: #d0d0d0
}

.dark .highlight pre .o,
.dark pre.code .o {
  color: #d0d0d0
}

.dark .highlight pre .x,
.dark pre.code .x {
  color: #d0d0d0
}

.dark .highlight pre .p,
.dark pre.code .p {
  color: #d0d0d0
}

.dark .highlight pre .ch,
.dark pre.code .ch {
  color: #999;
  font-style: italic
}

.dark .highlight pre .cm,
.dark pre.code .cm {
  color: #999;
  font-style: italic
}

.dark .highlight pre .cp,
.dark pre.code .cp {
  color: #cd2828;
  font-weight: 700
}

.dark .highlight pre .cpf,
.dark pre.code .cpf {
  color: #999;
  font-style: italic
}

.dark .highlight pre .c1,
.dark pre.code .c1 {
  color: #999;
  font-style: italic
}

.dark .highlight pre .cs,
.dark pre.code .cs {
  color: #e50808;
  font-weight: 700;
  background-color: #520000
}

.dark .highlight pre .gd,
.dark pre.code .gd {
  color: #d22323
}

.dark .highlight pre .ge,
.dark pre.code .ge {
  color: #d0d0d0;
  font-style: italic
}

.dark .highlight pre .gr,
.dark pre.code .gr {
  color: #d22323
}

.dark .highlight pre .gh,
.dark pre.code .gh {
  color: #fff;
  font-weight: 700
}

.dark .highlight pre .gi,
.dark pre.code .gi {
  color: #589819
}

.dark .highlight pre .go,
.dark pre.code .go {
  color: #ccc
}

.dark .highlight pre .gp,
.dark pre.code .gp {
  color: #aaa
}

.dark .highlight pre .gs,
.dark pre.code .gs {
  color: #d0d0d0;
  font-weight: 700
}

.dark .highlight pre .gu,
.dark pre.code .gu {
  color: #fff;
  text-decoration: underline
}

.dark .highlight pre .gt,
.dark pre.code .gt {
  color: #d22323
}

.dark .highlight pre .kc,
.dark pre.code .kc {
  color: #6ab825;
  font-weight: 700
}

.dark .highlight pre .kd,
.dark pre.code .kd {
  color: #6ab825;
  font-weight: 700
}

.dark .highlight pre .kn,
.dark pre.code .kn {
  color: #6ab825;
  font-weight: 700
}

.dark .highlight pre .kp,
.dark pre.code .kp {
  color: #6ab825
}

.dark .highlight pre .kr,
.dark pre.code .kr {
  color: #6ab825;
  font-weight: 700
}

.dark .highlight pre .kt,
.dark pre.code .kt {
  color: #6ab825;
  font-weight: 700
}

.dark .highlight pre .ld,
.dark pre.code .ld {
  color: #d0d0d0
}

.dark .highlight pre .m,
.dark pre.code .m {
  color: #3677a9
}

.dark .highlight pre .s,
.dark pre.code .s {
  color: #ed9d13
}

.dark .highlight pre .na,
.dark pre.code .na {
  color: #bbb
}

.dark .highlight pre .nb,
.dark pre.code .nb {
  color: #24909d
}

.dark .highlight pre .nc,
.dark pre.code .nc {
  color: #447fcf;
  text-decoration: underline
}

.dark .highlight pre .no,
.dark pre.code .no {
  color: #40ffff
}

.dark .highlight pre .nd,
.dark pre.code .nd {
  color: orange
}

.dark .highlight pre .ni,
.dark pre.code .ni {
  color: #d0d0d0
}

.dark .highlight pre .ne,
.dark pre.code .ne {
  color: #bbb
}

.dark .highlight pre .nf,
.dark pre.code .nf {
  color: #447fcf
}

.dark .highlight pre .nl,
.dark pre.code .nl {
  color: #d0d0d0
}

.dark .highlight pre .nn,
.dark pre.code .nn {
  color: #447fcf;
  text-decoration: underline
}

.dark .highlight pre .nx,
.dark pre.code .nx {
  color: #d0d0d0
}

.dark .highlight pre .py,
.dark pre.code .py {
  color: #d0d0d0
}

.dark .highlight pre .nt,
.dark pre.code .nt {
  color: #6ab825;
  font-weight: 700
}

.dark .highlight pre .nv,
.dark pre.code .nv {
  color: #40ffff
}

.dark .highlight pre .ow,
.dark pre.code .ow {
  color: #6ab825;
  font-weight: 700
}

.dark .highlight pre .w,
.dark pre.code .w {
  color: #666
}

.dark .highlight pre .mb,
.dark pre.code .mb {
  color: #3677a9
}

.dark .highlight pre .mf,
.dark pre.code .mf {
  color: #3677a9
}

.dark .highlight pre .mh,
.dark pre.code .mh {
  color: #3677a9
}

.dark .highlight pre .mi,
.dark pre.code .mi {
  color: #3677a9
}

.dark .highlight pre .mo,
.dark pre.code .mo {
  color: #3677a9
}

.dark .highlight pre .sa,
.dark pre.code .sa {
  color: #ed9d13
}

.dark .highlight pre .sb,
.dark pre.code .sb {
  color: #ed9d13
}

.dark .highlight pre .sc,
.dark pre.code .sc {
  color: #ed9d13
}

.dark .highlight pre .dl,
.dark pre.code .dl {
  color: #ed9d13
}

.dark .highlight pre .sd,
.dark pre.code .sd {
  color: #ed9d13
}

.dark .highlight pre .s2,
.dark pre.code .s2 {
  color: #ed9d13
}

.dark .highlight pre .se,
.dark pre.code .se {
  color: #ed9d13
}

.dark .highlight pre .sh,
.dark pre.code .sh {
  color: #ed9d13
}

.dark .highlight pre .si,
.dark pre.code .si {
  color: #ed9d13
}

.dark .highlight pre .sx,
.dark pre.code .sx {
  color: orange
}

.dark .highlight pre .sr,
.dark pre.code .sr {
  color: #ed9d13
}

.dark .highlight pre .s1,
.dark pre.code .s1 {
  color: #ed9d13
}

.dark .highlight pre .ss,
.dark pre.code .ss {
  color: #ed9d13
}

.dark .highlight pre .bp,
.dark pre.code .bp {
  color: #24909d
}

.dark .highlight pre .fm,
.dark pre.code .fm {
  color: #447fcf
}

.dark .highlight pre .vc,
.dark pre.code .vc {
  color: #40ffff
}

.dark .highlight pre .vg,
.dark pre.code .vg {
  color: #40ffff
}

.dark .highlight pre .vi,
.dark pre.code .vi {
  color: #40ffff
}

.dark .highlight pre .vm,
.dark pre.code .vm {
  color: #40ffff
}

.dark .highlight pre .il,
.dark pre.code .il {
  color: #3677a9
}
