@import "chota.min.css";

:root {
  --color-primary: #f1404b;
  --color-lightGrey: #f4f5f9;
  --color-grey: #dddfe6;
  --color-midGrey: #3e455c;
  --color-darkGrey: #252c41;
  --font-color: var(--color-darkGrey);
  --font-family-sans: "Glegoo", "Georgia", serif;
  --font-size: 1.8rem;
  --grid-maxWidth: 100rem;
  --bg-color: var(--color-lightGrey);
  --bg-secondary-color: var(--color-grey);
}

body.dark {
  --font-color: var(--color-lightGrey);
  --bg-color: var(--color-darkGrey);
  --bg-secondary-color: var(--color-grey);
}

.dark pre, .dark kbd, .dark code, .dark pre.code {
  background-color: var(--color-midGrey);
}

/* glegoo-regular - latin */
@font-face {
  font-family: 'Glegoo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Glegoo'), local('Glegoo-Regular'),
       url('/assets/fonts/glegoo-v9-latin-regular.woff2') format('woff2');
}

/* glegoo-700 - latin */
@font-face {
  font-family: 'Glegoo';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Glegoo Bold'), local('Glegoo-Bold'),
       url('/assets/fonts/glegoo-v9-latin-700.woff2') format('woff2');
}

.brand {
  font-size: 6.4rem;
  padding: 2rem 0;
}

.nav a {
  border-color: var(--color-primary);
  font-size: 2.4rem;
}

a:hover, summary:hover {
  opacity: 1;
  filter: brightness(1.5);
  cursor: pointer;
}

footer.row {
  font-size: 1.4rem;
  min-height: 5rem;
  padding: 1.25rem 0.5rem;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1rem 0 0.35rem 0;
}

.col,
[class*=" col-"],
[class^='col-'] {
  margin-bottom: 0;
}

.tags {
  margin-top: 4rem;
}

.tag {
  color: var(--color-darkGrey);
  border-color: var(--color-darkGrey);
}

/* Placeholder text color */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--color-lightGrey);
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--color-lightGrey);
}

/* Icon styling */
.icon {
  display: inline-block;
  height: 3.2rem;
  width: 3.2rem;
  line-height: 3.2rem;
  text-align: center;
  font-size: var(--font-size);
}

.icon.large {
  font-size: 3.2rem;
  height: 3.3rem;
  line-height: 3.0rem;
  width: 4.48rem;
}

.icon.circle {
  border-radius: 50%;
}

.icon.invertible {
  background-color: var(--color-darkGrey);
  color: var(--color-lightGrey);
}

body.dark .icon.invertible {
  background-color: var(--color-lightGrey);
  color: var(--color-darkGrey);
}

/* Space between icons */
.nav .icon-wrapper {
  padding: 0.75rem;
}

/* Button for switching between light/dark mode */
#mode-switch {
  transition: transform 0.25s;
  transform-origin: center center;
}

body.dark #mode-switch {
  transform: rotateZ(180deg);
}

/* Make footer always at the bottom */
body {
  min-height: 100vh;
  position: relative;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* Main content padding from navigation and footer */
#content {
  padding-top: 6rem;
  padding-bottom: 16rem; /* 6rem + footer size */
}

/* Sticky navigation bar */
.sticky {
  position: -webkit-sticky; /* Safari */  
  position: sticky;
  top: 0;
}

/* Navigation padding */
.nav-right, .nav-left {
    padding: 0 1rem;
}

/* Style dropdown search menu */
.nav-left details.dropdown summary {
  padding: 1.5rem 0 1.5rem 0.5rem;
}

.nav-left details.dropdown .card {
  background-color: var(--color-primary);
}

/* Remove details marker
 * https://bit.ly/2PCANfd */
details > summary {
      list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

#searchbox {
  background-color: var(--color-darkGrey);
  border: 0;
  color: var(--color-lightGrey);
  min-width: 20rem;
}

/* Center youtube videos */
article iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Center content of figures */
figure {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

/* Style code blocks */
pre.code {
  background-color: var(--color-grey);
  border-radius: 4px;
}

#face-photo {
  margin: 2rem;
}

.is-foreground {
  z-index: 10;
}
