{#  -*- coding: utf-8 -*- #}
{% import 'base_helper.tmpl' as base with context %}
{% import 'base_header.tmpl' as header with context %}
{% import 'base_footer.tmpl' as footer with context %}
{{ set_locale(lang) }}
{#  <html> tag is included by base.html_headstart #}
{{ base.html_headstart() }}
{% block extra_head %}
{#  Leave this block alone. #}
{% endblock %}
{{ template_hooks['extra_head']() }}
</head>
<body>
    {{ header.html_header() }}
    <main id="content" class="container text-justify">
        {% block content %}{% endblock %}
    </main>
    {{ footer.html_footer() }}
    {{ base.late_load_js() }}
    {% if date_fanciness != 0 %}
    <!-- fancy dates -->
    <script>
    moment.locale("{{ momentjs_locales[lang] }}");
    fancydates({{ date_fanciness }}, {{ js_date_format }});
    </script>
    <!-- end fancy dates -->
    {% endif %}
    {% block extra_js %}{% endblock %}
    {{ body_end }}
    {{ template_hooks['body_end']() }}
</body>
</html>
